# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/


# Environment variables
.env


# SQLite database
*.db
*.sqlite
*.sqlite3

# Flet
.flet/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/
package/
deb-package.deb
deb-package/
